In [1]:
import os
import sys
# Add src/ to sys.path (relative to current notebook)
sys.path.append(os.path.abspath("../../src"))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pathlib

from utils.DataAnalysis import TableAnalysis, MyCustomException
from utils.VariableAnalysis import UnivariateAnalysis,BivariateAnalysis
from utils.pdf_file_save import PDFReportWriter

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [2]:
file_path = pathlib.Path('D:\Capstone Project\dataset\House_Price_dataset')
df = pd.read_csv(f"{file_path}/3.gurgaon_properties.csv")
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Ashok Vihar,flat,apna enclave,8.00,6153.0,13002.0,Super Built up area 1300(120.77 sq.m.)Built Up...,3,3,1,not available,"Ashok Vihar, Gurgaon, Haryana",0.0,NaN,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Bank loan no problem\nTotal flat 120\nMonthly ...,NaN,NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
1,3 BHK Flat in Sector 113 Gurgaon,flat,la vida by tata housing,2.00,11346.0,1763.0,Super Built up area 2690(249.91 sq.m.)Built Up...,3,3,3,"study room,servant room","Sector 113 Gurgaon , Gurgaon, Haryana",3.0,North,0 to 1 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...",La vida by tata housing is one of the most pop...,"['2 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...",NaN
2,5 Bedroom House for sale in Sector 56 Gurgaon,house,independent,3.25,21495.0,1512.0,Plot area 168(140.47 sq.m.),5,6,3+,"pooja room,others","Sector 56 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Sector metro station', 'Sector metro station...",168 sq yards built up house with basement and ...,"['7 Wardrobe', '3 Fan', '1 Exhaust Fan', '8 Li...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
3,2 BHK Flat in Sohna,flat,g l s arawali homes,2.00,4513.0,4432.0,Super Built up area 576(53.51 sq.m.),2,2,2,not available,"Sohna, Gurgaon, Haryana",1.0,NaN,5 to 10 Year Old,NaN,A 2 bhk flat is available for sale in gurgaon ...,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,2 BHK Flat in Sector 91 Gurgaon,flat,tarc maceo,9.00,5413.0,16627.0,Super Built up area 1404(130.44 sq.m.),2,2,3+,not available,"Sector 91 Gurgaon, Gurgaon, Haryana",8.0,East,5 to 10 Year Old,"['Manish Gallexie 91', 'Dwarka Expressway', 'R...",I want to sell my 2 bhk apartment. Its semi fu...,"['2 Wardrobe', '4 Fan', '2 Geyser', '11 Light'...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of..."

In [3]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3523,3 BHK Flat in Sector 102 Gurgaon,flat,shapoorji pallonji joyville gurugram,1.0,15514.0,645.0,Super Built up area 1852(172.06 sq.m.)Carpet a...,3,3,3+,not available,"Sector 102 Gurgaon, Gurgaon, Haryana",1.0,East,1 to 5 Year Old,"['Khan Market', 'The Esplanade Mall', 'Dwarka ...",This lovely 3 bhk apartment/flat in sector 102...,"['1 Exhaust Fan', '5 AC', '1 Modular Kitchen',...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction5 out of..."
3838,4 Bedroom House for sale in Sector 109 Gurgaon,house,international city by sobha phase 2,6.5,12037.0,5400.0,Plot area 5400(501.68 sq.m.),4,4,3+,servant room,"Sector 109 Gurgaon, Gurgaon, Haryana",1.0,North-East,0 to 1 Year Old,"['Dwarka Sector 21 Metro Station', 'Pacific D2...",International city is an urban enclave of vill...,"['5 Fan', '1 Exhaust Fan', '2 Geyser', '17 Lig...","['Centrally Air Conditioned', 'Water purifier'...","['Environment5 out of 5', 'Safety4.5 out of 5'..."
1750,2 BHK Flat in Sector 90 Gurgaon,flat,shree vardhman flora,6.0,4923.0,12188.0,Super Built up area 1300(120.77 sq.m.)Carpet a...,2,2,3,study room,"Sector 90 Gurgaon, Gurgaon, Haryana",6.0,East,10+ Year Old,"['IRIS Broadway Mall', 'Dwarka Expressway', 'S...",Check out this 2 bhk apartment for sale in shr...,"['3 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Green Area5 out of 5', 'Construction5 out of..."
1017,3 BHK Flat in Sector 86 Gurgaon,flat,dlf the skycourt,1.0,8087.0,1237.0,Super Built up area 1929(179.21 sq.m.)Built Up...,3,4,3+,store room,"H172, Sector 86 Gurgaon, Gurgaon, Haryana",17.0,South-West,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, Imt Manesar', 'Rao...",This 3 bhk apartment is available for sale in ...,NaN,"['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction5 out of..."
1651,4 BHK Flat in Sector 85 Gurgaon,flat,orris aster court premier,1.0,5859.0,1707.0,Super Built up area 2560(237.83 sq.m.)Built Up...,4,5,3+,servant room,"Sector 85 Gurgaon, Gurgaon, Haryana",6.0,West,0 to 1 Year Old,"['Propose Metro Station', 'SS Omnia Mall', 'Na...",Check out this 4 bhk apartment for sale in orr...,"['7 Fan', '1 Exhaust Fan', '2 Geyser', '14 Lig...","['Lift(s)', 'Maintenance Staff', 'Water Storag...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [4]:
df.shape

(3961, 20)

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.property_type.value_counts()

property_type
flat     2997
house     964
Name: count, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [8]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [9]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Ashok Vihar,flat,apna enclave,8.00,6153.0,13002.0,Super Built up area 1300(120.77 sq.m.)Built Up...,3,3,1,not available,"Ashok Vihar, Gurgaon, Haryana",0.0,NaN,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Bank loan no problem\nTotal flat 120\nMonthly ...,NaN,NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
1,3 BHK Flat in Sector 113 Gurgaon,flat,la vida by tata housing,2.00,11346.0,1763.0,Super Built up area 2690(249.91 sq.m.)Built Up...,3,3,3,"study room,servant room","Sector 113 Gurgaon , Gurgaon, Haryana",3.0,North,0 to 1 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...",La vida by tata housing is one of the most pop...,"['2 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...",NaN
2,5 Bedroom House for sale in Sector 56 Gurgaon,house,independent,3.25,21495.0,1512.0,Plot area 168(140.47 sq.m.),5,6,3+,"pooja room,others","Sector 56 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Sector metro station', 'Sector metro station...",168 sq yards built up house with basement and ...,"['7 Wardrobe', '3 Fan', '1 Exhaust Fan', '8 Li...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
3,2 BHK Flat in Sohna,flat,g l s arawali homes,2.00,4513.0,4432.0,Super Built up area 576(53.51 sq.m.),2,2,2,not available,"Sohna, Gurgaon, Haryana",1.0,NaN,5 to 10 Year Old,NaN,A 2 bhk flat is available for sale in gurgaon ...,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,2 BHK Flat in Sector 91 Gurgaon,flat,tarc maceo,9.00,5413.0,16627.0,Super Built up area 1404(130.44 sq.m.),2,2,3+,not available,"Sector 91 Gurgaon, Gurgaon, Haryana",8.0,East,5 to 10 Year Old,"['Manish Gallexie 91', 'Dwarka Expressway', 'R...",I want to sell my 2 bhk apartment. Its semi fu...,"['2 Wardrobe', '4 Fan', '2 Geyser', '11 Light'...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of..."

In [10]:
## Add Sector Column 
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

## Lowering Sector Value
df['sector'] = df['sector'].str.lower()

In [11]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Ashok Vihar,flat,apna enclave,ashok vihar,8.00,6153.0,13002.0,Super Built up area 1300(120.77 sq.m.)Built Up...,3,3,1,not available,"Ashok Vihar, Gurgaon, Haryana",0.0,NaN,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Bank loan no problem\nTotal flat 120\nMonthly ...,NaN,NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
1,3 BHK Flat in Sector 113 Gurgaon,flat,la vida by tata housing,sector 113,2.00,11346.0,1763.0,Super Built up area 2690(249.91 sq.m.)Built Up...,3,3,3,"study room,servant room","Sector 113 Gurgaon , Gurgaon, Haryana",3.0,North,0 to 1 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...",La vida by tata housing is one of the most pop...,"['2 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...",NaN
2,5 Bedroom House for sale in Sector 56 Gurgaon,house,independent,sector 56,3.25,21495.0,1512.0,Plot area 168(140.47 sq.m.),5,6,3+,"pooja room,others","Sector 56 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Sector metro station', 'Sector metro station...",168 sq yards built up house with basement and ...,"['7 Wardrobe', '3 Fan', '1 Exhaust Fan', '8 Li...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
3,2 BHK Flat in Sohna,flat,g l s arawali homes,sohna,2.00,4513.0,4432.0,Super Built up area 576(53.51 sq.m.),2,2,2,not available,"Sohna, Gurgaon, Haryana",1.0,NaN,5 to 10 Year Old,NaN,A 2 bhk flat is available for sale in gurgaon ...,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,2 BHK Flat in Sector 91 Gurgaon,flat,tarc maceo,sector 91,9.00,5413.0,16627.0,Super Built up area 1404(130.44 sq.m.),2,2,3+,not available,"Sector 91 Gurgaon, Gurgaon, Haryana",8.0,East,5 to 10 Year Old,"['Manish Gallexie 91', 'Dwarka Expressway', 'R...",I want to sell my 2 bhk apartment. Its semi fu...,"['2 Wardrobe', '4 Fan', '2 Geyser', '11 Light'...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of..."

In [12]:
df['sector'].value_counts()

sector
sohna                     163
sector 102                113
sector 85                 110
sector 92                 104
sector 69                  94
                         ...
b1 block sector 57          1
sadar bazar                 1
urban estate, sector 5      1
bptp                        1
sector 17c                  1
Name: count, Length: 301, dtype: int64

In [13]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [14]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [15]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

In [16]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [17]:
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [18]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [19]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [20]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [21]:
df['sector'].value_counts()

sector
sohna road           163
sector 102           113
sector 85            110
sector 92            104
sector 69             94
                    ...
sector 110 a           3
a block sector 43      3
sector 73              3
maruti kunj            3
sector 17b             3
Name: count, Length: 131, dtype: int64

In [22]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

In [23]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [24]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
850,4 BHK Flat in New Gurgaon,flat,sare homes,new,8.0,4786.0,16715.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
1342,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.0,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
1491,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,6.0,5583.0,10747.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
3187,2 BHK Flat in New Gurgaon,flat,green court,new,3.0,5507.0,5448.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN

In [25]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [26]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
77,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.00,26936.0,371.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
941,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1833,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3379,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,2.00,3166.0,6317.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
3863,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,2.00,4400.0,4545.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [27]:
df.shape

(3803, 21)

In [28]:
df.duplicated().sum()

np.int64(0)

In [29]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Ashok Vihar,flat,apna enclave,sector 3,8.00,6153.0,13002.0,Super Built up area 1300(120.77 sq.m.)Built Up...,3,3,1,not available,"Ashok Vihar, Gurgaon, Haryana",0.0,NaN,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Bank loan no problem\nTotal flat 120\nMonthly ...,NaN,NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
1,3 BHK Flat in Sector 113 Gurgaon,flat,la vida by tata housing,sector 113,2.00,11346.0,1763.0,Super Built up area 2690(249.91 sq.m.)Built Up...,3,3,3,"study room,servant room","Sector 113 Gurgaon , Gurgaon, Haryana",3.0,North,0 to 1 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...",La vida by tata housing is one of the most pop...,"['2 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Centrally Air Conditioned', 'Water purifier'...",NaN
2,5 Bedroom House for sale in Sector 56 Gurgaon,house,independent,sector 56,3.25,21495.0,1512.0,Plot area 168(140.47 sq.m.),5,6,3+,"pooja room,others","Sector 56 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Sector metro station', 'Sector metro station...",168 sq yards built up house with basement and ...,"['7 Wardrobe', '3 Fan', '1 Exhaust Fan', '8 Li...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
3,2 BHK Flat in Sohna,flat,g l s arawali homes,sohna road,2.00,4513.0,4432.0,Super Built up area 576(53.51 sq.m.),2,2,2,not available,"Sohna, Gurgaon, Haryana",1.0,NaN,5 to 10 Year Old,NaN,A 2 bhk flat is available for sale in gurgaon ...,[],NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
4,2 BHK Flat in Sector 91 Gurgaon,flat,tarc maceo,sector 91,9.00,5413.0,16627.0,Super Built up area 1404(130.44 sq.m.),2,2,3+,not available,"Sector 91 Gurgaon, Gurgaon, Haryana",8.0,East,5 to 10 Year Old,"['Manish Gallexie 91', 'Dwarka Expressway', 'R...",I want to sell my 2 bhk apartment. Its semi fu...,"['2 Wardrobe', '4 Fan', '2 Geyser', '11 Light'...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of..."

In [30]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [31]:
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
693,flat,sidhartha ncr one phase,sector 95,9.00,4500.0,20000.0,Built Up area: 2000 (185.81 sq.m.),3,3,1,not available,15.0,NaN,1 to 5 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...","['Power Back-up', 'Lift(s)', 'Swimming Pool', ..."
3622,flat,aipl joy square,sector 63a,7.00,10101.0,6930.0,Built Up area: 693 (64.38 sq.m.)Carpet area: 3...,1,1,0,not available,7.0,NaN,undefined,"['Sector 55-56 Metro Station', 'Omaxe Gurgaon ...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN
2771,flat,birla navya,sector 63a,2.00,16666.0,1200.0,Carpet area: 1260 (117.06 sq.m.),2,2,2,not available,2.0,NaN,Feb 2024,"['Sector 54 Chowk Metro Station', 'WorldMark G...","['2 Fan', '2 Geyser', '3 Light', '1 Modular Ki...","['Power Back-up', 'Intercom Facility', 'Lift(s..."
3640,flat,greenopolis,sector 89,8.00,6168.0,12970.0,Carpet area: 1297 (120.5 sq.m.),2,2,2,not available,6.0,South,Under Construction,"['Orris Community Center', 'Indian Oil', 'Essa...",NaN,"['Security / Fire Alarm', 'Intercom Facility',..."
2734,house,independent,sector 26,8.49,47167.0,1800.0,Plot area 200(167.23 sq.m.),12,12,3+,"pooja room,servant room",4.0,North,1 to 5 Year Old,"['Guru dronacharya metro station', 'Dlf phase ...","['6 Wardrobe', '6 Fan', '1 Exhaust Fan', '6 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard..."

In [32]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [33]:
df.shape

(3803, 17)

In [34]:
df.duplicated().sum()

np.int64(122)

In [35]:
df.to_csv(f'{file_path}/4.gurgaon_properties_cleaned_v1.csv',index=False)